/* src/App.css */
.hot-posts-container {
  padding: 24px;
}

.ant-table-cell {
  word-break: break-word; /* 防止长单词溢出 */
}

.ant-table-thead > tr > th {
  white-space: nowrap; /* 保持表头不换行 */
}

.ant-table-tbody > tr > td {
  max-width: 250px; /* 限制单元格宽度 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏超出内容 */
  text-overflow: ellipsis; /* 显示省略号 */
}

/* 针对抽屉、表单等的样式设置 */
.modal .ant-form-item-label {
  width: 120px;
}

